// Buttons and Forms
// --------------------------------------------------

// Buttons
.btn, .wp-block-button__link {
	@include button();
	@include button-primary();
	.btn-secondary & {
		@include button-secondary();
	}
	.btn-tertiary & {
		@include button-tertiary();
	}
	.btn-footer & {
		@include button-footer();
	}
}


@media (min-width: $screen-lg) {
	.wp-block-buttons-is-layout-flex {
		gap: 2em;
	}
}

// Forms - Gravity forms plugin
.gform_wrapper.gravity-theme {
	.gfield_label {
		font-size: remCalc(12px) !important;
		text-transform: uppercase;
		color: $primary;
		margin-bottom: .7rem !important;
	}
	.gfield {
		margin-bottom: .75rem;
	}
	.gform-field-label--type-sub {
		font-size: remCalc(12px) !important;
	}
}
.gform_wrapper.gravity-theme .description, .gform_wrapper.gravity-theme .gfield_description, .gform_wrapper.gravity-theme .gsection_description, .gform_wrapper.gravity-theme .instruction {
	font-size: remCalc(12px) !important;
}
.gform_wrapper.gravity-theme .gfield_checkbox label, .gform_wrapper.gravity-theme .gfield_radio label {
	font-size: remCalc(12px) !important;
	line-height: 1.3;
}
.gform_wrapper.gravity-theme input[type=color], .gform_wrapper.gravity-theme input[type=date], .gform_wrapper.gravity-theme input[type=datetime-local], .gform_wrapper.gravity-theme input[type=datetime], .gform_wrapper.gravity-theme input[type=email], .gform_wrapper.gravity-theme input[type=month], .gform_wrapper.gravity-theme input[type=number], .gform_wrapper.gravity-theme input[type=password], .gform_wrapper.gravity-theme input[type=search], .gform_wrapper.gravity-theme input[type=tel], .gform_wrapper.gravity-theme input[type=text], .gform_wrapper.gravity-theme input[type=time], .gform_wrapper.gravity-theme input[type=url], .gform_wrapper.gravity-theme input[type=week], .gform_wrapper.gravity-theme select, .gform_wrapper.gravity-theme textarea {
	border: 1px solid $gray;
	border-radius: 32px;
	padding: 15px 20px !important;
}
.gform_wrapper.gravity-theme textarea {
	border-radius: 22px;
}
.gform_wrapper.gravity-theme .gform_footer button, .gform_wrapper.gravity-theme .gform_footer input, .gform_wrapper.gravity-theme .gform_page_footer button, .gform_wrapper.gravity-theme .gform_page_footer input {
	@include button();
	@include button-primary();
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
}
.gform_wrapper.gravity-theme .gfield-choice-input {
	width: 20px;
	height: 20px;
	vertical-align: top !important;
}
.gform_wrapper.gravity-theme .gfield_required {
	display: none !important;
}
.gform_wrapper select {
	border: unset;
	appearance: none;
	margin: 0;      
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	z-index: 1;
	&::-ms-expand {
		display: none;
	}
	background-color: $white;
	color: $text-color;
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
	background-repeat: no-repeat;
	background-position: right 1rem top 50%;
	background-size: 0.65rem auto;
  }

@media only screen and (max-width:641px) {
	.gform_wrapper.gravity-theme input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
		min-height: auto !important;
		line-height: 1 !important;
	}
}