// Animations
// --------------------------------------------------

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}

@keyframes fade-up {
	0% {
		opacity: 0;
		transform: translate3d(0,50px,0);
	}
	100% {
		opacity: 100;
		transform: translate3d(0,0,0);
	}
}

@keyframes pop-in {
	0% {
		opacity: 0;
		transform: scale(.5);
	}
	50% {
		opacity: 100;
		transform: scale(1.2);
	}
	100% {
		opacity: 100;
		transform: scale(1);
	}
}

@keyframes pop-up {
	0% {
		opacity: 0;
		transform: translate3d(0,300px,0);
	}
	50% {
		opacity: 100;
		transform: translate3d(0,-30px,0);
	}
	100% {
		opacity: 100;
		transform: translate3d(0,0,0);
	}
}

@keyframes fade-down {
	0% {
		opacity: 0;
		transform: translate3d(0,-60px,0);
	}
	100% {
		opacity: 100;
		transform: translate3d(0,0,0);
	}
}
