// Mixins
// --------------------------------------------------

@use "variables";

// Antialiased
@mixin antialiased() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}

// Text Shadow
@mixin text-shadow($shadow...) {
	text-shadow: $shadow;	
}

// Shadow
@mixin box-shadow($shadow...) {
	-webkit-box-shadow: $shadow;
  	-moz-box-shadow:    $shadow;
	box-shadow:         $shadow;
}

// Circle
@mixin circle ($radius) {
     height: $radius;
     width: $radius;
     border-radius: $radius;
     -moz-border-radius: $radius;
     -webkit-border-radius: $radius;
	 outline: none;
}

//Transitions
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// Absolute Centering
@mixin absolutecenter($axis: "both"){
	position:absolute;
	@if $axis == "y"{
		top: 50%;
		transform: translateY(-50%);
	}
	@if $axis == "x"{
		left: 50%;
		transform: translateX(-50%);
	}
	@if $axis == "both"{
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
	}
}

// REM Calculation
@function remCalc($size) {
	$remSize: calc($size / $font-size-base);
	@return #{$remSize}rem;
}

// Wrapper
@mixin wrapper() {
	width: 100%;
	max-width: $screen-xl;
	padding: 0 $spacing-medium;
	margin: 0 auto;
	@media (min-width: $screen-lg) {
		padding: 0;
	}
}

// Row
@mixin row() {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

// Column
@mixin column() {
	position: relative;
	width: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: $spacing-small 0;
	@media (min-width: $screen-lg) {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%;
		padding: $spacing $spacing-medium;
	}
}

// Column Half
@mixin column-half() {
	position: relative;
	width: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: $spacing-small 0;
	@media (min-width: $screen-lg) {
		max-width: 50%;
		flex-basis: 50%;
		padding: $spacing $spacing-medium;
	}
}

// Column Third
@mixin column-third() {
	position: relative;
	width: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: $spacing-small 0;
	@media (min-width: $screen-lg) {
		max-width: 33%;
		flex-basis: 33%;
		padding: $spacing $spacing-medium;
	}
}

// Large Panel Headers
@mixin panel-header() {
	font-size: remCalc(32px);
	@media (min-width: $screen-lg) {
		font-size: remCalc(36px);
	}
	@media (min-width: $screen-xl) {
		font-size: remCalc(42px);
	}
}

// Buttons
@mixin button() {
	display: inline-block;
	font-size: remCalc(17px);
	font-weight: 700;
	text-align: center;
	border: 2px solid $blue-bright;
	padding: $spacing-small 2rem;
	margin: $spacing 0;
	border-radius: 30px;
	min-width: 270px;
	line-height: 1;
	@include transition(all .3s);
}

@mixin button-primary() {
	background-color: $blue;
	color: $white !important;
	&:hover {
		text-decoration: none;
		color: $blue-dark !important;
		background-color: $blue-bright;
		border-color: $blue-bright;
		// color: $green-dark !important;
		// background-color: $green-bright;
		// border-color: $green-dark;
	}
}

@mixin button-secondary() {
	background-color: $green-bright;
	border-color: $green-bright;
	color: $green-dark !important;
	&:hover {
		color: $green-bright !important;
		background-color: $green-dark;
		border-color: $green-dark;
	}
	// .btn-secondary & {
	// 	background-color: $green;
	// 	border-color: $green-bright;
	// 	&:hover {
	// 		color: $green-dark !important;
	// 		background-color: $green-bright;
	// 		border-color: $green-dark;
	// 	}
	// }
}

@mixin button-tertiary() {
	background-color: $teal-bright;
	border-color: $teal-bright;
	color: $teal-dark !important;
	&:hover {
		color: $teal-bright !important;
		background-color: $teal-dark;
		border-color: $teal-dark;
	}
}

@mixin button-footer() {
	font-size: remCalc(15px);
	font-weight: 400;
	text-align: left;
	background-color: $blue;
	color: $blue-bright !important;
	border-color: $blue-dark;
	padding: 1.25rem 70px 1.25rem 1.25rem;
	position: relative;
	margin: 0;
	i {
		font-size: 25px;
		position: absolute;
		top: 15px;
		right: 20px;
	}
	&:hover {
		color: $blue-dark !important;
		background-color: $blue-bright;
		border-color: $blue-bright;
		// color: $green-dark !important;
		// background-color: $green-bright;
		// border-color: $green-dark;
	}
}
