// Variables
// --------------------------------------------------

$white: #fff;
$black: #000;
$gray: #C4C6C8; // brand color
$gray-light: #F3F3F3;
$gray-medium: #E0E0E0;
$tan: #E8E0D1; // brand color
$blue: #064F80; // brand color
$blue-dark: #003050;
$blue-light: #1069A5;
$blue-medium: #7FD3EE; // brand color
$blue-bright: #52D5FF;
$orange: #EA5E29; // brand color
$orange-light: #FFEFE9;
$teal: #00847E; // brand color
$teal-dark: #005753;
$teal-bright: #61FFF8;
$green: #008044;
$green-bright: #00FC87; // brand color, BBBSA Green
$green-dark: #00562E;
$green-light: #E8FFF4;

$primary: $blue;
$secondary: $blue-dark;

// ---
$link-color: $primary;
$link-hover-color: $blue-light;
$text-color: $blue-dark;
$header-color: $blue-dark;
$header-color-hover: $blue;

// ---
$font-primary: 'Gotham', sans-serif;
$font-size-base: 16px;
$font-weight-base: 400;
$font-weight-bold: 700;
$font-size-text: remCalc($font-size-base);
$font-size-text-sm: remCalc(14px);
$font-size-text-lg: remCalc(18px);

// ---
$border-radius-base: 20px;
$text-max-width: 850px;

// ---
$spacing: 1.5rem;
$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 3rem;
$spacing-xl: 4rem;

// ---
$screen-xl: 1280px;
$screen-lg: 980px;
$screen-md: 768px;
$screen-sm: 460px;